.abbout__wrapper-bg-color {
  background-color: var(--4);
  padding: 90px 0 34px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 80px);
  grid-template-rows: repeat(4, min-content);
  gap: 0 20px;
  font-family: var(--font-family);
  color: var(--2);
}

.about__title-h2 {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  line-height: 120%;
  grid-column: 1/5;
  grid-row: 1/2;
}

.about__div-wrapper-text {
  grid-column: 1/6;
  grid-row: 2/3;
  padding-top: 30px;
  font-weight: 300;
  line-height: 150%;
}

.about__div-wrapper-text-p:first-child {
  margin-bottom: 1em;
}
.about__img {
  grid-column: 7/13;
  grid-row: 1/3;
}
.about__link {
  padding-top: 29px;
  font-weight: 500;
  line-height: 130%;
  color: var(--1);
  grid-column: 11/13;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about__link::after {
  content: "";
  display: inline-block;
  width: 27px;
  height: 17px;
  background-image: url("../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15px;
}
