.main-help__title {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  color: orange;
}

.main-help__listlist {
  width: 400px;
  counter-reset: list1;
}

.main-help__list-item {
  margin-bottom: 60px;
}

.main-help__list-item:before {
  content: counter(list1);
  counter-increment: list1;
  color: #ff8a00;
  font-size: 50px;
  position: absolute;
  left: 0;
  padding: 0 0 0 30px;
}

.main-help__item-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
}

.main-help__item-text {
  font-weight: 400;
}

.main-help__text-bold {
  font-weight: 600;
}
