@font-face {
  font-family: "Droid Serif";
  src: local("Droid Serif"), url("../fonts/DroidSerif.woff2") format("woff2"),
    url("../fonts/DroidSerif.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Droid Serif";
  src: local("Droid Serif"),
    url("../fonts/DroidSerif-Bold.woff2") format("woff2"),
    url("../fonts/DroidSerif-Bold.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Comfortaa";
  src: local("Comfortaa-Regular"),
    url("../fonts/Comfortaa-Regular.woff2") format("woff2"),
    url("../fonts/Comfortaa-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr"),
    url("../fonts/helveticaneuecyr-light.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "HelveticaNeueCyr";
  src: local("HelveticaNeueCyr"),
    url("../fonts/helveticaneuecyr-medium.woff2") format("woff2"),
    url("../fonts/helveticaneuecyr-medium.woff") format("woff");
  font-weight: 500;
}

:root {
  --font-family: "HelveticaNeueCyr", sans-serif;
  --second-family: "Comfortaa", sans-serif;
  --third-family: "Arial", sans-serif;
  --1: #ff8a00;
  --2: #282626;
  --3: #fff;
  --4: #f2f0f1;
  --shadow-button: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-family: "Droid Serif";
  min-width: 320px;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  cursor: pointer;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

iframe {
  border: none;
}

section {
  padding-top: 90px;
}

/* section:last-of-type {
  padding-bottom: 51px;
} */

/* section:first-of-type {
  padding-top: 146px;
} */
/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/*
Пример контейнера

Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1440px;
  padding: 0 130px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 72px;
    margin: 0 auto;
  }

  .visually-hidden-1000px {
    position: fixed;
    transform: scale(0);
  }
  section {
    padding-top: 80px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 34px;
    margin: 0 auto;
  }

  section {
    padding-top: 60px;
  }
}
@media (max-width: 480px) {
  .container {
    max-width: 320px;
    padding: 0 25px;
    margin: 0 auto;
  }

  .visually-hidden-320px {
    position: fixed;
    transform: scale(0);
  }

  section {
    padding-top: 40px;
  }
}
