.form-help {
  font-family: var(--font-family);
  box-sizing: border-box;
  color: var(--2);
}
.form-help__form {
  background-color: #f2f0f1;
  font-family: var(--font-family);
  border-radius: 20px;
  max-width: 780px;
  margin: 0 auto;
  padding: 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-help__title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 133%;
  text-align: center;
  color: var(--1);
}
.form-help__title-h3 {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 150%;
  padding-top: 30px;
}
.form-help__title-h3-bold {
  font-weight: 500;
  color: var(--1);
}

.form-help__title-h3:last-of-type {
  padding-top: 60px;
}

.form-help__list {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.form-help__item {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.form-help__item-link {
  font-weight: 500;
  padding-left: 16px;
}

.form-help__div-wrapper-label {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 20px;
  margin-bottom: 34px;
}

.form-help__form-label {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 12px;
  line-height: 117%;
  min-width: 280px;
}

.form-help__form-input {
  width: 100%;
  height: 40px;
}

.form-help__form-button {
  align-self: flex-end;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  text-transform: uppercase;
  text-align: center;
  color: var(--1);
  border: none;
  background: none;
  width: 80px;
  height: 90px;
  transition: ba 0.3s ease;
}

@media (max-width: 1024px) {
  .form-help__form {
    max-width: 680px;
    padding: 50px 93px;
  }

  .form-help__title {
    font-size: 24px;
    line-height: 125%;
  }

  .form-help__title-h3 {
    font-size: 18px;
    line-height: 133%;
    padding-top: 20px;
  }

  .form-help__title-h3:last-of-type {
    padding-top: 40px;
  }

  .form-help__list {
    padding-top: 21px;
  }

  .form-help__item {
    font-size: 18px;
    line-height: 133%;
  }

  .form-help__item-link {
    padding-left: 10px;
  }

  .form-help__div-wrapper-label {
    margin-bottom: 19px;
  }

  .form-help__form-label {
    font-size: 8px;
    line-height: 125%;
    min-width: 200px;
  }
}
@media (max-width: 768px) {
  .form-help__form {
    max-width: 540px;
    padding: 40px 60px;
  }

  .form-help__title {
    font-size: 18px;
    line-height: 133%;
  }

  .form-help__title-h3 {
    font-size: 14px;
    line-height: 143%;
  }

  .form-help__title-h3:last-of-type {
    padding-top: 30px;
  }

  .form-help__list {
    padding-top: 10px;
  }

  .form-help__item {
    font-size: 14px;
    line-height: 143%;
  }

  .form-help__div-wrapper-label {
    margin-bottom: 20px;
  }

  .form-help__button-img {
    width: 73px;
    height: 71px;
  }
}
@media (max-width: 480px) {
  .form-help__form {
    max-width: 270px;
    border-radius: 12px;
    padding: 30px 29px;
  }

  .form-help__title {
    font-size: 16px;
    line-height: 137%;
  }

  .form-help__title-h3:last-of-type {
    padding-top: 30px;
  }

  .form-help__list {
    flex-direction: column;
    gap: 10px;
  }

  .form-help__item {
    font-size: 14px;
    line-height: 143%;
  }

  .form-help__div-wrapper-label {
    padding-top: 14px;
    flex-direction: column;
  }

  .form-help__form-button {
    align-self: center;
    font-size: 8px;
    line-height: 150%;
    width: 61px;
    height: 73px;
  }

  .form-help__button-img {
    width: 61px;
    height: 56px;
  }
}
