.header__navigate {
  background-color: var(--4);
  max-width: 394px;
  height: 394px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 50;
  top: 110px;
  position: absolute;
}

.navigate__visually-hidden {
  transform: scale(0);
  transition: transform 0.3s ease, opacity 0.5s ease;
  opacity: 0;
}

.navigate__visible {
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.header__navigate::before {
  content: "";
  display: block;
  background-image: url("../img/triangle.svg");
  width: 52px;
  height: 30px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: -25px;
}

.header__navigate::after {
  content: "";
  display: block;
  width: 394px;
  height: 10px;
  background-color: var(--1);
}

.header__navigate-list {
  padding: 70px 0 0 39px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  position: relative;
  z-index: 50;
}

.header__navigate-item {
  position: relative;
}

.header__item-link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  display: block;
  line-height: 150%;
  color: var(--2);
}

.line-item::after {
  content: "";
  display: block;
  width: 334px;
  right: 40px;
  height: 1px;
  top: 45px;
  position: absolute;
  background-color: var(--1);
}

.navigate__button-menu-svg-close {
  display: none;
  width: 33px;
  height: 25px;
  fill: var(--2);
  transition-duration: fill 0.3s ease;
}

.navigate__button-menu-svg-close:active {
  fill: #5b5656;
}

.header__navigate-item:last-child {
  display: none;
}

@media (max-width: 1024px) {
  .header__navigate {
    max-width: 349px;
    height: 320px;
  }

  .header__navigate::after {
    width: 349px;
  }

  .header__navigate-list {
    padding: 40px 0 0 39px;
  }

  .header__item-link {
    font-size: 18px;
    line-height: 133%;
  }

  .line-item::after {
    width: 309px;
    right: 20px;
  }
}

@media (max-width: 768px) {
  .header__navigate {
    height: 388px;
  }

  .header__navigate-item:last-child {
    display: block;
    gap: 13px;
  }

  .header__item-link {
    display: flex;
    gap: 13px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .header__navigate {
    max-width: 320px;
    height: 326px;
    top: 64px;
    left: 0;
  }

  .header__navigate::before {
    background-image: none;
  }

  .header__navigate::after {
    width: 320px;
    height: 10px;
  }

  .header__navigate-list {
    padding: 20px 0 0 35px;
  }

  .header__item-link {
    font-size: 14px;
    line-height: 143%;
  }

  .line-item::after {
    width: 270px;
  }

  .navigate__button-menu-svg-close {
    display: block;
  }

  .toggle-svg {
    display: none;
  }

  .header__item-link {
    gap: 10px;
  }
}
